/*-----------------------------------------------------------------------------

  _colors.css
  Reusable color variables.

------------------------------------------------------------------------------*/

/* Envato green */
$green      : #82b541;

/* Blacks */
$black      : #000;

/* Whites */
$white      : #fff;

/* Greys */
$grey       : #666;
$grey-light : #999;

/* Blues */
$blue       : #0084b4;
