/*-----------------------------------------------------------------------------

  _colors.css
  Reusable color variables.

------------------------------------------------------------------------------*/

/* Envato green */
$brand-main   : #82b541;

/* Blacks */
$black        : #000;

/* Whites */
$white        : #fff;
$white-offset : #FBFBFB;

/* Greys */
$grey-dark    : #454545;
$grey         : #666;
$grey-light   : #999;

/* Blues */
$blue         : #0084b4;
$blue-lighter : #E5EBEF;
