/*-----------------------------------------------------------------------------

  _spacing.css
  Reusable spacing variables.

------------------------------------------------------------------------------*/

$spacing-default: 10px;

$spacing-s      : calc(($spacing-default) / 2); /* 5px */
$spacing        : $spacing-default; /* 10px */
$spacing-m      : calc(($spacing-default) * 2); /* 20px */
$spacing-l      : calc(($spacing-default) * 3); /* 30px */
$spacing-xl     : calc(($spacing-default) * 4); /* 40px */
