/*-----------------------------------------------------------------------------

  application.css
  Global import stylesheet

------------------------------------------------------------------------------*/

/*@import 'prism.css';*/

/*-----------------------------------------------------------------------------
  Globals
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------

  _colors.css
  Reusable color variables.

------------------------------------------------------------------------------*/

/* Envato green */

/* Blacks */

/* Whites */

/* Greys */

/* Blues */

/*-----------------------------------------------------------------------------

  _typography.css
  Reusable variables related to typography.

------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  Font families
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  Font sizes
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  Font weights
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  Line height
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  Components
------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------

  typography.css
  Font families, weights and sizes.

------------------------------------------------------------------------------*/

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

h1, h2, h3, h4, h5 {
  color: #454545;
  font-weight: 700;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

em {
  font-weight: italic;
}
