<div class="sg-controls__category">
  <h2>
    <% if view.on_homepage? %>
      <%= Guide.configuration.company_name%>Styleguide
    <% else %>
      <%= view.active_node_name %>
    <% end %>
  </h2>
</div>
