<div class="sg-controls__search" data-view="search">
  <div class="sg-search">
    <div class="sg-search__input">
      <%= text_field_tag  "search", "",
        :placeholder => "Jump to&hellip;".html_safe,
        :tabindex => "-1",
        :data => {
          :pages =>
            @layout_view.paths_to_visible_renderable_nodes.map do |node_path, node_title|
              {
                :label => node_title,
                :value => Guide::Engine.routes.url_helpers.node_path(
                  :node_path => node_path
                )
              }
            end
        } %>
    </div>
    <div class="sg-search__toggle">
      <a class="js-sg-search__toggle">
        <i class="e-icon -icon-search -size-medium -color-white"><span class="e-icon__alt">Search</span></i>
      </a>
    </div>
  </div>
</div>
