<div class="layout__unsupported-browser">
  <p class="t-body -color-light h-remove-margin">
    Sorry! The ACME Pty Ltd Styleguide currently only supports the latest browsers. We suggest that you
    <%= link_to "try a different browser", "http://browsehappy.com/", :class => "t-link -color-light" %>.
  </p>
</div>
