<%= link_to "#",
    :class => "sg-banner__action-icon",
    :data => {
      :view => "sgShowDisableWithLabels",
      :states => {
        :on => "Show submit state",
        :off => "Hide submit state"
      }
    } do %>
  <i class="js-disable-with__status e-icon -icon-disable -color-inherit -size-medium">
    <span class="e-icon__alt">Enabled</span>
  </i>
<% end %>
