<div class="sg-content">
  <section class="sg-content__group">
    <div am-Grid>
      <div am-Grid-Col="l:10" am-Grid-Row=" l:start">
        <p class="t-body -size-l">
          Here you will find the living documentation for the pieces that make up ACME Pty Ltd.
          <br class="is-hidden-tablet-and-below" />
          We use real templates from the site and recreate the different states that they might be in.
        </p>

        <p class="t-body is-hidden-tablet-and-below"><span class="t-heading -size-l">&larr; </span> Start exploring!</p>

        <hr class="h-spacing-above h-spacing-below">
        <h2 class="t-heading -size-m">What is a 'Structure Styleguide'?</h2>
        <p class="t-body">A Structure Styleguide is a special breed of living styleguide, designed to document an application’s UI logic and all of the possible permutations of the UI.</p>

        <p class="t-body">The goal is to have a complete and shared understanding of how an application behaves in any situation, even in the most uncommon edge cases, without having to laboriously recreate each scenario by hand.</p>
      </div>
    </div>
  </section>
</div>
