/*-----------------------------------------------------------------------------

  helpers.css
  Styling helpers.

------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
  Display
------------------------------------------------------------------------------*/

.dib {
  display: inline-block;
}

/*-----------------------------------------------------------------------------
  Reset margins
------------------------------------------------------------------------------*/

.m0 {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------
  Padding helpers
------------------------------------------------------------------------------*/

.p05 {
  padding: $spacing-s;
}

.p1 {
  padding: $spacing;
}

.p2 {
  padding: $spacing-m;
}

.p3 {
  padding: $spacing-l;
}

.p4 {
  padding: $spacing-xl;
}
