/*-----------------------------------------------------------------------------

  sidebar.css
  Off-canvas sidebar styling

------------------------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 260px;
  max-width: 10vw;
  z-index: 2;
  border-right: 1px solid $blue-lighter;
  background-color: $white;
  transform: translate3d(-260px,0,0);
  transition: transform .3s;

  @media (--desktop-and-above) {
    transition: transform 0s;
    transform: translate3d(0,0,0);
  }
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-nav {
  flex: 1 0;
  width: 100%;
  position: relative;
}

.sg-navigation {

  & .no-js  {
    display: block;
  }

  li {
    padding: $spacing-m;
  }

  a {
    display: block;
    color: $grey;

    &.is-active,
    &:hover {
      color: $grey-dark;
    }
  }
}

.sg-navigation__section {
  position: relative;
}

.sg-navigation__section-title {
  padding: $spacing-m;
}

.sg-navigation__section-expander {
  position: absolute;
  top: 0;
  right: 0;
}

  &:after {
    /*+glyphs-base*/
    /*content: $icon-arrow-fill-right*/
    font-size: 0.7em;
    color: $grey;
  }

/*.sg-navigation__section {
  &.selected {
    .sg-navigation__section-expander {
      &:after {
        content: $icon-arrow-fill-down; }
      }
    }
  }*/
