/*-----------------------------------------------------------------------------

  sidebar.css
  Off-canvas sidebar styling

------------------------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 260px;
  max-width: 10vw;
  z-index: 2;
  border-right: 1px solid $blue-lighter;
  background-color: $white;
  transform: translate3d(-260px,0,0);
  transition: transform .3s;

  @media (--desktop-and-above) {
    transition: transform 0s;
    transform: translate3d(0,0,0);
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-content {
  flex: 1 0;
  width: 100%;
  position: relative;
}

.sidebar-nav {

  & .no-js  {
    display: block;
  }

  & ul {
    list-style: none;
  }

  & a {
    display: block;
    color: $grey;

    &:hover {
      color: $grey-dark;
    }
  }
}

.link.is-active {
  color: $brand-main;
  border-left: 5px solid $brand-main;
}

.sidebar__sub-group {

  & .link {
    padding: $spacing-s $spacing $spacing $spacing-l;
  }

  & .sidebar__sub-group {
    & .link {
      padding-left: $spacing-xl;
    }
  }
}

.sidebar-nav__section {
  position: relative;
  border-bottom: 1px solid $blue-lighter;
}

.sidebar-nav__section-title {
  padding: $spacing-m;
}

/* section expanding icon */
.sidebar-nav__section-expander {
  position: absolute;
  top: 0;
  right: 0;
}

  &:after {
    /*+glyphs-base*/
    /*content: $icon-arrow-fill-right*/
    font-size: 0.7em;
    color: $grey;
  }

/*.sg-navigation__section {
  &.selected {
    .sg-navigation__section-expander {
      &:after {
        content: $icon-arrow-fill-down; }
      }
    }
  }*/
