/*-----------------------------------------------------------------------------

  typography.css
  Font families, weights and sizes.

------------------------------------------------------------------------------*/

html {
  font-family: $helvetica;
  font-weight: $weight-regular;
  line-height: $lh-base;
  color: $grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: $size-default;
}

/*-----------------------------------------------------------------------------
  Shared
------------------------------------------------------------------------------*/

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $spacing-m;
}

/*-----------------------------------------------------------------------------
  Headings
------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: $grey-dark;
  font-weight: $weight-bold;
  line-height: $lh-condensed;
}

h1 {
  font-size: $size-xxl;
}

h2 {
  font-size: $size-xl;
}

h3 {
  font-size: $size-l;
}

h4 {
  font-size: $size-m;
}

h5 {
  font-size: $size-s;
}

h6 {
  font-size: $size-xs;
}

/*-----------------------------------------------------------------------------
  Decorations
------------------------------------------------------------------------------*/

strong {
  font-weight: $weight-bold;
}

em {
  font-weight: italic;
}
