<div class="sg-toolbar__visibility">
  <% case visibility %>
  <% when nil %>
    <i class="e-icon -icon-globe" title="Public"><span class="e-icon__alt">Public</span></i>
  <% when :unpublished %>
    <i class="e-icon -icon-lock" title="Unpublished"><span class="e-icon__alt">Unpublished</span></i>
  <% when :financial %>
    <i class="e-icon -icon-lock" title="Restricted access only"><span class="e-icon__alt">Restricted</span></i>
  <% end %>
</div>
